.home {
  height: 100vh;
  padding: 2.4rem 2.4rem 4.8rem;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-content {
  margin-top: 4.8rem;
  text-align: center;
  margin-bottom: 8.1rem;
}
.eyebrow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-bottom: 1.6rem;
}

.title {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 100px;
  color: #ffffff;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
}
.home__btn {
  position: relative;
  z-index: 2;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: #fff;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 1.25px;
  color: #0b0d17;
}
.home__btn::before {
  content: "";
  height: 22rem;
  width: 22rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.home__btn:hover.home__btn::before {
  opacity: 0.1;
  cursor: pointer;
}
