.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 4rem;
  height: 4rem;
}
ul {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25.4rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  z-index: 3;
  padding: 11.8rem 2.6rem 0 3.2rem;
  text-align: left;
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
}
.close-icon {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top: 3.4rem;
  right: 2.6rem;
}
.list-item {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}
.navbar__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar__link span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 1.4rem;
}
